{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Data table</h4>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <div id="order-listing_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                        <div class="row">
                            <div class="col-sm-12 col-md-3">
                                <div class="dataTables_length" id="order-listing_length"><label>Show <select
                                        name="order-listing_length" aria-controls="order-listing" class="form-control">
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="15">15</option>
                                    <option value="-1">All</option>
                                </select> entries</label></div>
                            </div>
                            <div class="col-sm-12 col-md-3">
                                <a href='/master/training_add'><button class="btn btn-primary" >+Add new</button></a>
                            </div>
                          <div class="col-sm-12 col-md-3"></div>
                            <div class="col-sm-12 col-md-3">
                                <div id="order-listing_filter" class="dataTables_filter"><label><input type="search"
                                                                                                       class="form-control"
                                                                                                       placeholder="Search"
                                                                                                       aria-controls="order-listing"></label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="order-listing" class="table dataTable no-footer" role="grid"
                                       aria-describedby="order-listing_info">
                                    <thead>
                                    <tr role="row">
                                        <th class="sorting_asc" tabindex="0" aria-controls="order-listing" rowspan="1"
                                            colspan="1" style="width: 55.4167px;" aria-sort="ascending"
                                            aria-label="Order #: activate to sort column descending">Name
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1"
                                            colspan="1" style="width: 99.5833px;"
                                            aria-label="Purchased On: activate to sort column ascending">Type
                                        </th><th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1"
                                            colspan="1" style="width: 99.5833px;"
                                            aria-label="Purchased On: activate to sort column ascending">Fee
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1"
                                            colspan="1" style="width: 88px;"
                                            aria-label="Customer: activate to sort column ascending">Description
                                        </th>

                                    </tr>
                                    </thead>
                                    {% for training in training %}
                                    <tr role="row" class="odd">
                                        <td class="sorting_1">{{ training.name }}</td>
                                        <td>{{ training.type }}</td>
                                        <td>{{ training.fee }}</td>
                                        <td>{{ training.description }}</td>
                                        <td>
                                            <a href=/master/training_edit/{{ training.id }}> <button class="btn btn-outline-primary" >Edit</button> </a>
                                        </td>
                                        <td>
                                                <a href=/master/training_delete/{{ training.id }}> <button class="btn btn-outline-danger">Delete</button> </a>
                                        </td>
                                    </tr>
                                    {% endfor%}
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-5">
                                <div class="dataTables_info" id="order-listing_info" role="status" aria-live="polite">
                                    Showing 1 to 10 of 10 entries
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-7">
                                <div class="dataTables_paginate paging_simple_numbers" id="order-listing_paginate">
                                    <ul class="pagination">
                                        <li class="paginate_button page-item previous disabled"
                                            id="order-listing_previous">
                                            <a href="#" aria-controls="order-listing" data-dt-idx="0" tabindex="0"
                                               class="page-link">Previous</a></li>
                                        <li class="paginate_button page-item active"><a href="#"
                                                                                        aria-controls="order-listing"
                                                                                        data-dt-idx="1" tabindex="0"
                                                                                        class="page-link">1</a></li>
                                        <li class="paginate_button page-item next disabled" id="order-listing_next"><a
                                                href="#" aria-controls="order-listing" data-dt-idx="2" tabindex="0"
                                                class="page-link">Next</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}