{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div class="card">
<div class="card-body">
    <form class="forms-sample" method="post"> {% csrf_token %}
        <div class="form-group">
            <label for="TrainingleadName">Name</label>
            <input type="text" class="form-control" name="TrainingleadName" id="TrainingleadName" value='{{ traininglead.name }}' required>
        </div>
        <div class="form-group">
            <label for="TrainingleadInstitute" >Institute</label>
            <select id="TrainingleadInstitute" name="TrainingleadInstitute"  class="form-control" required>
                <option selected>{{ traininglead.institution }}</option>
                {% for institute in institute %}
                 <option> {{ institute.name }} </option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="TrainingleadCource">Cource</label>
            <select id="TrainingleadCource" name="TrainingleadCource" class="form-control" required>
                <option selected >{{ traininglead.course }}</option>
                {% for cource in cource %}
                 <option> {{ cource.name }} </option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="TrainingleadYearofpass">Year of passout</label>
            <input type="number" class="form-control" name="TrainingleadYearofpass" id="TrainingleadYearofpass" value='{{ traininglead.year_of_passout }}' >
        </div>
        <div class="form-group">
            <label for="TrainingleadEmail">Email</label>
            <input type="email" class="form-control" name="TrainingleadEmail" id="TrainingleadEmail" value='{{ traininglead.email }}' >
        </div>
        <div class="form-group">
            <label for="TrainingleadMobile">Mobile</label>
            <input type="number" class="form-control" name="TrainingleadMobile" id="TrainingleadMobile" value='{{ traininglead.mobile }}' >
        </div>
        <div class="form-group">
            <label for="TrainingleadEnqueryDate">Enquiry Date</label>
            <input type="date" class="form-control" name="TrainingleadEnqueryDate" id="TrainingleadEnqueryDate" value='{{ traininglead.enquery_date | date:"Y-m-d" }}' >
        </div>
        <div class="form-group">
            <label for="TrainingleadEnqueryFor">Enquiry For</label>
            <select id="TrainingleadEnqueryFor" name="TrainingleadEnqueryFor" class="form-control"  required>
                <option selected >{{ traininglead.enquery_for }}</option>
                {% for training in training %}
                 <option> {{ training.name }} </option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="TrainingleadRemarks">Remarks</label>
            <textarea id="TrainingleadRemarks" name="TrainingleadRemarks" class="form-control" rows="10">{{ traininglead.remark }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary mr-2">Submit</button>
        <a href='/master/traininglead_view'><button class="btn btn-light">Cancel</button></a>
    </form>
</div>
</div>

{% endblock %}